.box1,.box2,.box3,.box4{
  position: fixed;
  width:100px;
  height:100px;
  border:1px solid;
}
.box1{
  background-color: red;
}
.box2{
  background-color: blue;
  bottom:0;
  left:0;
   }
.box3{
    background-color: yellow;
    bottom:0;
    right:0;
  }
.box4{
    background-color: green;
    right:0;
    border:1px solid;
  }
*{
  margin:0;
 }
  
 