::placeholder{
    color: rgb(128, 141, 199);
}
body{
    background-color: rgb(224, 218, 218);
}
#s{
    background-color: rgb(29, 161, 57);
}
#s:hover{
    background-color: green;
}
#r{
    background-color: rgb(199, 57, 57);
}
#r:hover{
    background-color:red;
}
legend{
    text-align: center;
 color: red;
 padding-top: 2px;
}
h1,h2{
    text-align: center;
    text-shadow: 10px 10px 8px rgb(57, 65, 99);
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 20px;
}
form{
min-width: 100%;
   font-size:  1rem;
   display:inline-block;   
}

fieldset{
    background-color:white;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    border: 3px solid;
    margin-bottom: 100px;
}


input{
 margin-bottom: 20px;
 margin-top: 20px;
}

@media screen and (max-width:400px) {
    fieldset{
        width:auto;
        margin:0 5px;
    }
    
}

div{
    margin-left: 40px;  
}

header{
    background-color: rgb(28, 155, 190);
    height: 40px;
    position: sticky;
    top:0;
}

footer{
background-color: rgb(28, 155, 190);
height: 300px;
padding-top: 30px;

    }


a[href]{
    border: 0;
    color: black;
    margin-left:30px;
}

a:hover{
    background-color: rgb(154, 164, 212);
}


*{ 
    margin: 0;
}

source{
    width: 200px;
    padding-top: 20px;
}


p[class="m"]{
padding-left: 100px;
padding-bottom: 10px;
padding-top: 40px;
}
header{
height: 30px;
}
audio,video,img{
    margin-bottom: 100px;
    margin-top: 50px;
    display: inline-block;
}
    

#top{
    margin-top: 50px;
}

