*{
    margin: 0;
    padding: 0;
}
header{
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'caveat',cursive;
    height: 100px;
    position: sticky;
    top:0;
}
header h1{
    letter-spacing: 4px;
    padding-top: 10px;
    text-shadow: 2px 2px 5px black;
}
header h2{
    letter-spacing: 3px;
    padding-top: 12px;
    font-size: 18px;
} 


nav{
    
    background-color: lightgrey;
   height: 40px;
   text-align: center;
}
nav li{
    display: inline-block;  
    padding: 10px 30px 0 0;
}
nav a{
    text-decoration: none;
    background-color: grey;
    padding: 5px;
    color: lightgrey;
    border-radius: 7px ;
}
nav a:hover{
    color: black;
    border: 1px solid;
}







.header{
background-color:rgb(207, 84, 91);
width: 700px;
text-align: right;
height: 70px;
margin: auto;

}



.niveau{
    
    flex-basis: 90%;
}


.contact{

flex-basis:30%;
height: 600px;
font-size: small;
margin-bottom: 20px ;


}


.info{

flex-basis: 65%;
height: 600px;
font-size: small;

}

img{
    height: 130px;
    width: 100px;
   padding: 10px;  
  
}
.name{
    padding: 20px;
   font-size: x-large;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(15, 15, 15);
   
}
.edu{
    display: flex;
    
}

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
  margin: auto;
  
}

h2{
    
    font-size: 17px;
    text-transform: uppercase;
    font-family: arial, Helvetica,serif
}
p{
    color: rgb(134, 84, 84);
}
.note{
    background-color: rgb(177, 74, 74);
    border-radius: 10px;
    color:white;
    text-align: right;
   }
   .footer{
    flex-basis: 100%;
   }
   p[class="foot"]{
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

   }
  
   @media screen and (max-width:700px) {
     .header{
      width:100% ;
     }
     .contact{
        flex-basis: 20%;
     }
     .info{
        flex-basis: 78%;
        
     }
     .annee{
        flex-basis:40% ;
     }
     .niveau{
        flex-basis: 40%;
     }
      
   }