

.header{
background-color:brown;
width: 100%;
text-align: right;
height: 70px;
margin: auto;

}






.contact{

flex-basis:30%;
height: 600px;
font-size: small;
margin-bottom: 20px ;


}


.info{

flex-basis: 65%;
height: 600px;
font-size: small;

}

img{
    height: 100px;
    width: 100px;
   padding: 10px;  
  
}
.name{
    padding: 20px;
   font-size: x-large;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgb(15, 15, 15);
   
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
h2{
    
    font-size: 17px;
    text-transform: uppercase;
    font-family: arial, Helvetica,serif
}
p{
    color: rgb(134, 84, 84);
}
.note{
    background-color: rgb(80, 7, 7);
    border-radius: 10px;
    color:white;
    text-align: right;
   }