*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 11.5px;
}

header{
    background-color: grey;
    color: white;
    text-align: center;
    font-family: 'caveat',cursive;
    height: 100px;
    position: sticky;
    top: 0;
}
header h1{
    letter-spacing: 4px;
    padding-top: 10px;
    text-shadow: 2px 2px 5px black;
}
header h2{
    letter-spacing: 3px;
    padding-top: 12px;
    font-size: 18px;
} 


nav{
    
    background-color: lightgrey;
   height: 40px;
   text-align: center;
}
nav li{
    display: inline-block;  
    padding: 10px 30px 0 0;
}
nav a{
    text-decoration: none;
    background-color: grey;
    padding: 5px;
    color: lightgrey;
    border-radius: 7px ;
}
nav a:hover{
    color: black;
    border: 1px solid;
}



.wrapper{
    display: grid;
    grid-template-areas:  "aside  section section"; 
    width: 80%;
    margin: auto;
    max-width: 700px;
    gap:30px
   
}


.wrapper aside{
    
 grid-area: aside;
 width: 150px;
 padding:20px;
}
.wrapper aside img{
height: 200px;
width: 150px;
border-radius: 10px;

}
.title{
    text-transform: uppercase;
    background-color: rgb(240, 232, 232);
   margin: 20px 0px;
   box-shadow: 1px 1px 5px peru;
   text-align: center;
   padding: 3px;
}
.wrapper aside li{
    text-align: left;
    line-height: 18px;
    width: 80%;
    list-style-type: none;
}
.atout p{
    padding-top:5px ;
}
.atout span{
    font-weight: bold;
}

.atout progress{
    height: 25px;
    width: 95%;
    border-radius: 5px;
   
    
}
div progress::-webkit-progress-bar{
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid peru;
}
div progress::-webkit-progress-value{
    background-color: rgb(219, 102, 56);
    border-radius: 5px;
}

.wrapper section{
    grid-area: section;
   
}
.wrapper section  p{
    text-align: justify;
    padding-bottom: 10px;
}
.wrapper section b{
    text-transform: capitalize;
    background-color: rgb(219, 102, 56);
    
}
#flex-container p{
    font-size: 12px;
    padding: 10px;
    color: grey;
    text-align: center;
}
#flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
     text-align: center;
   
}
#flex-container img{
 
 height: 50px;
 margin: auto;

}

.html{
    flex-basis: 30%;
   
}
.css{
    flex-basis: 30%;
}
.git{
    flex-basis: 30%;
}
footer{
    text-transform: uppercase;
    background-color: grey;
    text-align: center;
    font-size: smaller;
    height: 20px;
}
footer p{
    padding-top: 5px;
}